nodered-prueba-escritura.json
[
    {
        "id": "tab_prueba_escritura",
        "type": "tab",
        "label": "PRUEBA - Escritura PLC",
        "disabled": false,
        "info": "Flow de prueba para escribir una variable al PLC via OPC-UA.\nUsar con cuidado - solo para testing.",
        "env": []
    },
    {
        "id": "ep_write_test",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.51.20:4840",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "inject_write_1",
        "type": "inject",
        "z": "tab_prueba_escritura",
        "name": "Escribir 1 (maquina parada)",
        "props": [
            { "p": "payload" },
            { "p": "topic", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"Bloque de datos_turno1\".\"Static_77\"",
        "payload": "1",
        "payloadType": "num",
        "x": 200,
        "y": 120,
        "wires": [["func_write_value"]]
    },
    {
        "id": "inject_write_0",
        "type": "inject",
        "z": "tab_prueba_escritura",
        "name": "Escribir 0 (liberar maquina)",
        "props": [
            { "p": "payload" },
            { "p": "topic", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "ns=3;s=\"Bloque de datos_turno1\".\"Static_77\"",
        "payload": "0",
        "payloadType": "num",
        "x": 200,
        "y": 200,
        "wires": [["func_write_value"]]
    },
    {
        "id": "func_write_value",
        "type": "function",
        "z": "tab_prueba_escritura",
        "name": "Preparar escritura OPC-UA",
        "func": "// Prepara el mensaje para escribir al PLC via OPC-UA\n// topic = variable del PLC (nodeId)\n// payload = valor a escribir\n\nmsg.valuesToWrite = [msg.payload];\n\nnode.warn(\"Escribiendo \" + msg.payload + \" en \" + msg.topic);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 160,
        "wires": [["opcua_write_item"]]
    },
    {
        "id": "opcua_write_item",
        "type": "OpcUa-Item",
        "z": "tab_prueba_escritura",
        "item": "ns=3;s=\"Bloque de datos_turno1\".\"Static_77\"",
        "datatype": "Int32",
        "value": "",
        "name": "Variable BIT parada",
        "x": 720,
        "y": 160,
        "wires": [["opcua_write_client"]]
    },
    {
        "id": "opcua_write_client",
        "type": "OpcUa-Client",
        "z": "tab_prueba_escritura",
        "endpoint": "ep_write_test",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "Escribir al PLC",
        "x": 950,
        "y": 160,
        "wires": [["debug_write_ok"], ["debug_write_err"]]
    },
    {
        "id": "debug_write_ok",
        "type": "debug",
        "z": "tab_prueba_escritura",
        "name": "Escritura OK",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "\"OK: \" & payload",
        "statusType": "jsonata",
        "x": 1170,
        "y": 120,
        "wires": []
    },
    {
        "id": "debug_write_err",
        "type": "debug",
        "z": "tab_prueba_escritura",
        "name": "Escritura ERROR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "\"ERROR: \" & payload",
        "statusType": "jsonata",
        "x": 1180,
        "y": 200,
        "wires": []
    },
    {
        "id": "comment_prueba",
        "type": "comment",
        "z": "tab_prueba_escritura",
        "name": "⚠️ PRUEBA DE ESCRITURA - Solo para testing",
        "info": "Este flow escribe un valor al PLC via OPC-UA.\n\n- Boton 'Escribir 1': simula maquina parada (BIT=1)\n- Boton 'Escribir 0': libera la maquina (BIT=0)\n\nVariable: Bloque de datos_turno1.Static_77\nPLC: 192.168.51.20:4840\n\nNOTA: Verificar con Beto que la variable\nStatic_77 es la correcta para el BIT de parada.\nSi es otra variable, cambiar el topic en los inject\ny el item en el nodo OpcUa-Item.",
        "x": 280,
        "y": 40,
        "wires": []
    },
    {
        "id": "inject_read_check",
        "type": "inject",
        "z": "tab_prueba_escritura",
        "name": "Leer valor actual",
        "props": [
            { "p": "payload" },
            { "p": "topic", "vt": "str" }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 340,
        "wires": [["opcua_read_item"]]
    },
    {
        "id": "opcua_read_item",
        "type": "OpcUa-Item",
        "z": "tab_prueba_escritura",
        "item": "ns=3;s=\"Bloque de datos_turno1\".\"Static_77\"",
        "datatype": "Int32",
        "value": "",
        "name": "Leer BIT parada",
        "x": 420,
        "y": 340,
        "wires": [["opcua_read_client"]]
    },
    {
        "id": "opcua_read_client",
        "type": "OpcUa-Client",
        "z": "tab_prueba_escritura",
        "endpoint": "ep_write_test",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "Leer del PLC",
        "x": 640,
        "y": 340,
        "wires": [["debug_read_result"], []]
    },
    {
        "id": "debug_read_result",
        "type": "debug",
        "z": "tab_prueba_escritura",
        "name": "Valor actual del BIT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "comment_lectura",
        "type": "comment",
        "z": "tab_prueba_escritura",
        "name": "Verificacion - Leer valor actual del BIT",
        "info": "Usa este boton para verificar el valor actual\nde la variable antes y despues de escribir.",
        "x": 250,
        "y": 280,
        "wires": []
    }
]
